<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <form action="{% url 'blog:edit_action' %}" method="post">
        {#     CSRF验证失败. 请求被中断.    用于防范csrf，跨站，伪造 #}
        {% csrf_token %}

        {#     没有添加过滤器   #}

        {# 判断是否有文章传过来   #}
{#        {% if article %}#}
{#            <input type="hidden" name="article_id" value="{{ article.id }}">#}
{#            <label>文章标题#}
{#                <input type="text" name="title" value="{{ article.title }}"/>#}
{#            </label>#}
{#            <br/>#}
{#            <label>文章内容#}
{#                <input type="text" name="content" value="{{ article.content }}"/>#}
{#            </label>#}
{#            <br/>#}
{#        {% else %}#}
{#            <input type="hidden" name="article_id" value="0">#}
{#            <label>文章标题#}
{#                <input type="text" name="title"/>#}
{#            </label>#}
{#            <br/>#}
{#            <label>文章内容#}
{#                <input type="text" name="content"/>#}
{#            </label>#}
{#            <br/>#}
{#        {% endif %}#}


        {#   添加了Templates过滤器     #}

        {# 判断是否有文章传过来   #}
        <input type="hidden" name="article_id" value="{{ article.id | default:'0'}}">
        <label>文章标题
            <input type="text" name="title" value="{{ article.title }}"/>
        </label>
        <br/>
        <label>文章内容
            <input type="text" name="content" value="{{ article.content }}"/>
        </label>
        <br/>
        <input type="submit" value="提交">
    </form>
</body>
</html>